{% extends "layout.html" %}

{% block title %}
    Salvage Bin
{% endblock %}

{% block main %}

<div class="card border-secondary mb-4 text-start">
    <div class="card-header">
        <h4 class="mb-0">Select Your Current Items</h4>
    </div>
    
    <div class="card-body">
        
        <input type="text" id="curItemSearch" class="form-control mb-3" placeholder="Search items..." aria-label="Search items">
        
        <div class="item-container" id="availableItems">
            {% for item in item_data['components'] %}
                <button class="cur-item-btn" data-name="{{ item }}">
                    <img src="/static/item_images/{{ item }}.png" alt="{{ item }}">
                </button>
            {% endfor %}
            
            {% for item in item_data['recipes'] %}
                <button class="cur-item-btn" data-name="{{ item }}">
                    <img src="/static/item_images/{{ item }}.png" alt="{{ item }}">
                </button>
            {% endfor %}
        </div> 
        
        <hr class="my-4 border-secondary">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h6 class="mb-0">Selected Items: </h6>   
            <button class="btn btn-outline-danger btn-sm" type="button" id="clearBtn">Clear</button>
        </div>
        
        <div class="selected-container" id="selectedItems"></div>

    </div> 
    
</div> 

<script src="/static/scripts/salvage-bin.js"></script>
{% endblock %}